@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
nav{
  padding:0 5vw;
  background-color: rgba(255, 255, 255, 0.856);
}
nav a{
  color: black!important;
}
.formContent{
  margin:10vh auto;
  padding:20px;
}
.brand-logo{
  font-family:'Grand Hotel', cursive;
}
.submit{
  background-color:#64b5f6 ;
  color: white;
}
.submit:hover{
  background-color:#64b5f6 ;
}

.input-field>input:focus {
  border-bottom: 1px solid #64b5f6!important;
  box-shadow: 0 1px 0 0 #64b5f6;
}
.input-field>input:focus + label {
  color: #64b5f6;
}
.round-avatar{
  width:160px;
  height:160px;
  border-radius: 50%;
  object-fit: cover;
}
.upload-avatar{
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
  width: 160px !important;
  height: 160px !important;
  border-radius: 50%;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  margin:0;
  padding: 0 !important;
  display: none;
  background:rgba(255, 255, 255, 0.701);
  transition: all 0.3s ease-in-out;
}
.avatar-container:hover .upload-avatar{
display:flex;
transition: all 0.3s ease-in-out;

}
.upload-avatar>button{
  border:0;
  height:40%;
  width:100%;
  padding:0;
}
.upload-avatar>button{
  transition: all 0.3s ease-in-out;
  background: rgb(100,181,246);

}
.avatar-container{
  position: relative;
}
.mini-round-avatar{
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.profile-container h4{
  margin: 0;
}
#all-container{
  max-width: 700px;
  margin-left: 50px;
  margin-top: 10vh;
}
.comm-postedBy{
  margin-right: 10px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;

}
.gallery-photo{
  width:220px;
  margin:2px;
}
.post-photo{
  max-width: 700px;
  margin-bottom: 1rem;
}
.centered-container{
  max-width: 700px;
  margin: 0 auto;
}
.post{
margin:10px;
}
.like-btn{
  background-color:white;
  border:none;
}
.like-comment{
  position:absolute;
  right:0;
  height:100%;
  display:flex;
  align-items:center;
}
.like-btn:focus{
  background-color:white;
}
.material-icons{
  font-size:2rem;
  cursor: pointer;
}
.like{
    color:red;
}
.card-content>h3{
  margin:2px;
}
.card-content{
  padding:10px;
  padding-top:5px;
}
.post-sections{
  border-bottom: 1px solid rgba(124, 124, 124, 0.452);
}
.comments{
  margin-top:10px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.452);
  max-height: 250px;
  overflow:scroll;
}
.comments::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.comment{
  display:flex;
  flex-direction: column;
  margin:5px 0;
}
.row.top{
  width:100%;
  display:flex;
  position:relative;
  margin-bottom:5px;
}
.row.bottom{
  width:100%;
  color:rgba(107, 107, 107, 0.705);
}
.hide{
  display: none;
}
.post-header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 10px;
}
.user-info{
  display: flex;
  align-items: center;
}
.post-header>h5{
  margin:0;
}
.post-sections>span{
margin: 0 5px;
}
.float-right{
  float: right;
  position: relative;
  border-radius: 50%;
  height:30px;
  transition: background 400ms ease-in-out
}
.float-right:hover{
  background-color: rgba(173, 173, 173, 0.493);
}
.post-options{
  width:100px;
  position:absolute;
  right: right;
  top:bottom;
  margin:0;
  z-index: 2;
}
.post-options li{
  padding-left: 10px;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}
.post-options li:hover{
  background-color:rgba(173, 173, 173, 0.493);
}
.disabled{
  color:grey;
  cursor: not-allowed!important;
}
