@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
nav{
  padding:0 5vw;
  background-color: rgba(255, 255, 255, 0.856);
}
.App{
  min-height: 100%;
  margin-top: 63px;
  padding:5px 0;
}
#root{
  height:100%;
  /* min-height: 100%; */
}
html, body{
  height:100vh;
}
/* body::-webkit-scrollbar{
  background-color:green;
}body::-webkit-scrollbar-thumb{
  background-color:red; */
/* } */
a:hover{
  text-decoration:none;
  color:#007bff;
}
nav a{
  color: black!important;
}
.formContent{
  margin:10vh auto;
  padding:20px;
}
.brand-logo{
  font-family:'Grand Hotel', cursive;
}
.submit{
  background-color:white ;
  color: rgb(34, 34, 34);
  transition: background-color 0;
}
.submit:hover{
  background-color:#c7c7c7 ;
}

.input-field>input:focus {
  border-bottom: 1px solid #64b5f6!important;
  box-shadow: 0 1px 0 0 #64b5f6;
}
.input-field>input:focus + label {
  color: #64b5f6;
}
.round-avatar{
  width:160px;
  height:160px;
  border-radius: 50%;
  object-fit: cover;
}
.mini-round-avatar{
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.profile-container h4{
  margin: 0;
}
.like-btn{
  background-color:transparent;
  border:none;
}

.like-btn:focus{
  background-color:transparent;
}
.material-icons{
  font-size:2rem;
  cursor: pointer;
}
.like{
    color:red;
}
.row.top{
  width:100%;
  display:flex;
  position:relative;
  margin-bottom:5px;
}
.row.bottom{
  width:100%;
  color:rgba(107, 107, 107, 0.705);
  margin-bottom: 15px!important;
}
.row.bottom > *{
  margin: 0 5px;
}
.hide{
  display: none;
}

.user-info{
  display: flex;
  align-items: center;
}
#all-container{
  max-width: 700px;
  margin-left: 50px;
  margin-top: 10vh;
}

.dark-primary{
  background-color:rgba(34, 34, 34, 0.87)!important;
}
.dark-primary *, .dark-background{
  color:rgb(222, 224, 224)!important;
}
.dark-background{
  background-color:rgb(80, 80, 80)!important;
  background-repeat: repeat;
}
.dark-background .submit{
  background-color:rgb(34, 34, 34) ;
  color: white;
}
.dark-cards{
  background-color:rgb(54, 54, 54)!important;
  color:rgb(222, 224, 224)!important;
}
.dark-cards .input-field input{
  color:rgb(222, 224, 224)!important;

}
