@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
nav{
  padding:0 5vw;
  background-color: rgba(255, 255, 255, 0.856);
}
nav a{
  color: black!important;
}
.formContent{
  margin:10vh auto;
  padding:20px;
}
.brand-logo{
  font-family:'Grand Hotel', cursive;
}
.submit{
  background-color:#64b5f6 ;
  color: white;
}
.submit:hover{
  background-color:#64b5f6 ;
}

.input-field>input:focus {
  border-bottom: 1px solid #64b5f6!important;
  box-shadow: 0 1px 0 0 #64b5f6;
}
.input-field>input:focus + label {
  color: #64b5f6;
}
.round-avatar{
  width:160px;
  height:160px;
  border-radius: 50%;
  object-fit: cover;
}
.mini-round-avatar{
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.profile-container h4{
  margin: 0;
}
.like-btn{
  background-color:white;
  border:none;
}

.like-btn:focus{
  background-color:white;
}
.material-icons{
  font-size:2rem;
  cursor: pointer;
}
.like{
    color:red;
}
.row.top{
  width:100%;
  display:flex;
  position:relative;
  margin-bottom:5px;
}
.row.bottom{
  width:100%;
  color:rgba(107, 107, 107, 0.705);
  margin-bottom: 15px!important;
}
.row.bottom > *{
  margin: 0 5px;
}
.hide{
  display: none;
}

.user-info{
  display: flex;
  align-items: center;
}

