.mr-auto.right{
   position: absolute;
   right:10px;
}
.navbar-toggler{
   position: absolute;
   right:10px;
}
@media(max-width:767px){
   .navbar-collapse.show>.right, .navbar-collapsing>.right{
      z-index: 22;
      background-color: rgba(255, 255, 255, 0.959)!important;
      width:100vw;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      top:64px;
      transition: all 0.3s ease-in-out;
   }
   
}
.navbar-collapse.show>.right>a{
   width:80%;
   margin: 0 auto;
   height:50px;
   padding:0 0 20px 0;
   text-align: center;
}
button:focus{
   background-color:transparent;
}