.mr-auto.right{
   position: absolute;
   right:10px;
}
.navbar{
   justify-content: left!important;
   height: 64px !important;
}
.navbar-toggler{
   position: absolute;
   right:10px;
}
@media(max-width:767px){
   
   .navbar-collapse.show>.right{
      z-index: 22;
      background-color: rgba(255, 255, 255, 0.959);
      width:100vw;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      top:64px;
      transition: all 0.3s ease-in-out;
      /* transition: background-color 5000s; */
   }
   
}
@media(min-width:768px){
   .navbar-collapse.show>.right{
      display: none;
   }
   .mr-auto.right{
      background-color: transparent!important;
   }
}
.nav-item{
   cursor: pointer;
   padding: 7px;
   color: black;
}
.navbar-collapse.show>.right>a, .navbar-collapse.show>.right>.nav-item{
   width:80%;
   margin: 0 auto;
   height:50px;
   padding:0 0 20px 0;
   text-align: center;
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.show{
   /* display: none!important; */
   transition: all 6000s ease-in-out;
   flex-basis: 0!important;
}
button:focus{
   background-color:transparent;
}
.switch-container{
   display:flex;
   align-items: center;
   margin-right: 20px;
   margin-left: 110px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
i.modal-trigger{
   color: black;
   width:70px;
}

#switch-label {
	cursor: pointer;
   margin:0;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}
#modal1{
   width: 300px!important;
   left: 100px;
   margin:0;
   height:fit-content;
   border-radius: .6rem;
}
.modal-content{
   min-height: 300px;
   background-color: transparent;
   color: black;
}
.search-item{
   float: none;
   box-shadow: 0 0 2px rgba(131, 131, 131, 0.596);
   padding:0 10px;
   height: 30px;
   line-height: 30px;

}
input#search:focus{
   border-bottom-color: rgba(131, 131, 131, 0.596)!important;
}
.search-item:hover{
   transform: scale(1.02);
   transition: transform 0.3s ease-in-out;
}

#switch-label:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: rgb(0, 0, 0);
	border-radius: 90px;
	transition: 0.3s;
}
.dark-primary #switch-label:after{
   background: white;
   right: 0;
   left: none;
}

input:checked + #switch-label {
	background: grey;
}

input:checked + #switch-label:after {
	left: 100%;
   right: 100%;
	transform: translateX(-100%);
}
.white-bg{
   background-color: rgba(255, 255, 255, 0.664)!important;
}
.search{
   display: flex;
   margin-left: 50px;
   width: 50px;
}


