
.upload-avatar{
   position: absolute;
   z-index: 111;
   top: 0;
   left: 1px;
   width: 160px !important;
   height: 160px !important;
   border-radius: 50%;
   overflow: hidden;
   display:flex;
   justify-content:center;
   align-items:flex-end;
   margin:0 ;
   padding: 0 !important;
   display: none;
   background:rgba(255, 255, 255, 0.701);
   transition: all 0.3s ease-in-out;
}
.avatar-container:hover .upload-avatar{
display:flex;
transition: all 0.3s ease-in-out;
}
.avatar-container{
   position: relative;
   width: 160px !important;
   height: 160px !important;
   margin-right: 20px;
}
.post-sections h3{
   margin: 0;
   margin-bottom: 10px;
}
.col{
   flex-basis: auto!important;
   flex-grow: 0!important;
}